.header-bar{
    flex-direction: row;
    display:flex;
    justify-content: space-between;
}

    
.pics{
border-spacing: 
}

.area2{
    display:flex;
    flex-direction: row;
}
.zeus{
    width: 5em;
    height:10em;
}
.neptune{
    width:10px;
    height:10px;
}
.venus{
    width:10px;
    height:10px;
}

#brief {
    font-size: 36px;
    color:#1F2937;
}
#sign-up{
    text-align: center;
    background-color:blue;
    
}

footer {
    text-align: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
}