.header-bar{
    flex-direction: row;
    display:inline-block;
}
link1,link2,link3 {
    text-align: right;
}
    
}
.pics{
border-spacing: 
}


#brief {
    font-size: 36px;
    color:#1F2937;
}
#sign-up{
    text-align: center;
    background-color:blue;
    
}

footer {
    text-align: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
}